* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
    color: hsl(213, 96%, 18%);
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: hsl(231, 100%, 99%);
}

.body {
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 15px;
    width: 60%;
}

.user {
    display: none;
}

.head {
    width: 100%;
}

.active {
    display: block;
}

.steps {
    background-image: url(./../images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    width: 274px;
    height: 568px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.step {
    display: flex;
    color: hsl(0, 0%, 100%);
    margin-bottom: 15px;
    align-items: center;
}

small {
    color: hsl(231, 11%, 63%);
    font-size: smaller;
}

.step-circle {
    border: solid 2px hsl(0, 0%, 100%);
    border-radius: 50%;
    margin-right: 20px;
    padding: 10px 17px;
}

.step-1 .step-circle {
    background-color: hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
}


/* end of side bar */

/* user data */

.input {
    margin-bottom: 20px;
}

.form-control:focus {
    box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.right-button {
    background-color: hsl(213, 96%, 18%);
    color: white;
}

.right-button:hover {
    background-color: hsl(213, 96%, 18%);
    color: white;
}

.left-button {
    background: none;
    border: none;
    color: hsl(231, 11%, 63%);
}

.left-button:hover {
    background: none;
    border: none;
}

.confirm {
    background-color: hsl(243, 100%, 62%);
    color: white;
}

.confirm:hover {
    background-color: hsl(243, 100%, 62%);
    color: white;
}

/* end of user data  */

/* user plan  */

.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    border: 1px solid gray;
    border-radius: 7px;
    cursor: pointer;
}

.plan-check {
    border: 2px solid hsl(243, 100%, 62%);
    background-color: hsl(206, 94%, 87%);
}

input[ type = radio] {
    display: none;
}

.plan-icon {
    margin-bottom: 30px;
    margin-right: 10px;
}

.plan-info small {
    color: hsl(213, 96%, 18%);
}

.duration {
    padding: 10px 0px;
    background-color: hsl(206, 94%, 87%);
    border-radius: 5px;
}

/* switch styling */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 19px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(213, 96%, 18%);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: hsl(243, 100%, 62%);
}

input:focus+.slider {
    box-shadow: 0 0 1px hsl(243, 100%, 62%);
}

input:checked+.slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* end user plan  */

/* user add-ons  */


.add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.active-check {
    border: 1px solid hsl(243, 100%, 62%);
    box-shadow: 1px 1px 6px 1px hsl(243, 100%, 62%), -1px -1px 6px 1px hsl(243, 100%, 62%);
}


/* finishing up  */

.final-plan {
    background-color: hsl(229, 24%, 87%);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.final-top {
    border-bottom: 1px solid gray;
}

.change-btn {
    text-decoration: underline;
    cursor: pointer;
}

.change-btn:hover {
    color: hsl(243, 100%, 62%);
}

@media only screen and (max-width: 400px) {

    .body {
        width: 100%;
        height: 100vh;
        padding: 0;
        background-color: hsl(206, 94%, 87%);
    }

    .steps {
        background-image: url(./../images/bg-sidebar-mobile.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 375px;
        height: 172px;
        align-items: baseline;
    }


    .step-info {
        display: none;
    }

    .head {
        margin-bottom: 20px !important;
    }

    .steps {
        padding-top: 20px;
    }

    .steps-container {
        display: flex;
        justify-content: baseline;
    }

    .user {
        position: relative;
        left: 0;
        top: -70px;
        background-color: white;
        padding: 15px;
        border-radius: 5px;
    }

    .w-75 {
        width: 90% !important;
    }

    .py-5 {
        padding: 0 !important;
    }

    .steps-content {
        padding-bottom: 0 !important;
    }

    .buttons {
        position: fixed !important;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: white;
        padding: 10px;
    }

    .plan {
        flex-direction: row;
        justify-content: flex-start;
        padding: 10px;
        margin-bottom: 10px;
    }

    .plan-icon {
        margin-bottom: 0;
    }

    .plan-info h5 {
        margin-bottom: 0;
    }

    .duration {
        margin-top: 10px !important;
        margin-bottom: 0 !important;
    }

}